.holiday {
  overflow: hidden;
  font-size: 16px;
}
.holiday dt, .holiday dd {
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 0.625em 0 0.875em;
  color: #4C565C;
  box-sizing: border-box;
}
dt {
  width: 20%;
  float: left;
  clear: right;
  background: rgb(19, 19, 19);
  font-size: 12px;
}
dd {
  width: 80%;
  float: right;
  margin-left: 0;
  margin-bottom: .3125em;
  border: 1px solid rgb(2, 2, 2);
  border-left: none;
}

a {
    color: #0c0c0c;
}

span {
  color : #7171ff;
  font-size: 16px;
  padding-left: 10px;
}

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 4em;
    padding: 0.5em 5%;
    background: rgb(246, 255, 81);
    color: rgb(2, 2, 2);
}

header h1,
header nav {
    display: inline-block;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}